#box {
  display: flex;
  border: 1px black solid;
  width: fit-content;
  padding: 2px 2px 2px 2px;
}
.celda {
  display: inline-block;
  border: 1px black solid;
  height: 28px;
  width: 20px;
}
.red {
  color: red;
}